@model IEnumerable<hatshop.Models.Order>

@{
    ;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="mt-5 container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Order no.
                    </th>
                    <th>
                        Date and time
                    </th>
                    <th>
                        Total
                    </th>
                    @* <th>
                        @Html.DisplayNameFor(model => model.Total)
                        </th> *@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>
