/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

.table {
  font-size: 16px;
}

main {
  position: absolute;
  top: 5%;
  width: 100%;
}

#main-navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.card-wrap {
  border: 1px dashed rgba(100, 100, 100, 0.3);
  padding-bottom: 15px;
}

.card {
  padding: 8px;
  margin: auto;
  width: 22.5rem;
}

#cart-dropdown-menu {
  left: auto;
  right: -135px;
  top: 53px;
  width: 332px;
  max-height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#user-dropdown-menu {
  left: auto;
  right: 6px;
  top: 61px;
}

#user-dropdown-menu>.card {
  width: 12rem;
}

.hat-quantity-input {
  width: 13%;
  height: 5%;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid rgba(100, 100, 100, 0.6);
  caret-color: transparent;
}

.hat-description-wrapper {
  height: 60px;
}

.hat-description {
  font-size: 14px;
}

.page-link {
  margin: 3px;
}

.btn-thinner {
  padding: 6px 15px 6px 15px;
}

.card-body h5 {
  font-size: 17px;
}

section.container {
  border: 1px dashed rgba(100, 100, 100, 0.6);
  padding: 40px 30px 40px 10px;
  margin-top: 100px;
}

.cart-table>:not(caption)>*>* {
  padding: 10px;
}

#logout-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li a, li a:hover {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}
